@font-face {
  font-family: "Inter-Medium";
  src: url("../../fonts/Inter-Medium.ttf");
}
.comp_poster {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  width: 490px;
  height: 280px;
  box-shadow: 1px 4px 15px 0px rgba(0, 0, 0, 0.2);
}
.info_poster {
  position: relative;
  font-family: "Inter-Medium";
  padding: 0 20px;
}
.info_head {
  display: flex;
  width: 100%;
}
.overview_film {
  display: block;
  font-size: 12px;
  margin-top: 16px;
}
.date_release {
  display: block;
  font-size: 12px;
  color: #827e7e;
}

.info_header {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
}
.rate {
  position: absolute;
  bottom: 10px;
}
